@page
@model VidayhLogin.Pages.DashboardModel
@{
    Layout = null;
    var username = ViewData["Username"];
    var token = ViewData["token"];
}
@using Microsoft.AspNetCore.Http
<!doctype html>
<html class="no-js" lang="">
<head>

    <meta charset="utf-8">
    <title>Princetonhive</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="~/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Modernize js -->
    <script src="~/js/modernizr-3.6.0.min.js"></script>


    <style type=”text/css”>
        body {
            scrolling: no;
        }

        iframe {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            border: 0 !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    @*<script>
                $(document).ready(function () {
                  //  alert("AA");
                  //  alert(parent.document.getElementById('output_iframe_id').contentDocument.location.href);
                    var myframe = parent.document.getElementById('output_iframe_id').contentDocument.location.href;

                    if (myframe == "https://princetonhive.com/") {
                    location.replace("https://princetonhive.com/logout")

                }
                });
        </script>*@

    <style type="text/css">
                /* Paste this css to your style sheet file or under head tag */
                /* This only works with JavaScript,
        if it's not present, don't show loader */
                .no-js #loader {
                    display: none;
                }

                .js #loader {
                    display: block;
                    position: absolute;
                    left: 100px;
                    top: 0;
                }

                .se-pre-con {
                    position: fixed;
                    left: 45%;
                    top: 45%;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                  //  background: url(images/Preloader_2.gif) center no-repeat #fff;
                }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).on("load", function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
</head>

<body>
    <!-- Paste this code after body tag -->
    <div class="se-pre-con"><img src="images/Preloader_2.gif" width="120px" height="120px" /><br />
                            <img src="~/images/30.gif" width="120px" height="120px"  />
    </div>
    <!-- Ends -->
    <!-- Preloader Start Here -->
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        @*<div class="navbar navbar-expand-md header-menu-one bg-light">
                <div class="nav-bar-header-one">
                    <div class="header-logo">
                        <a href="dashboard">

                            @if (@HttpContext.Session.GetString("Logo") != "")
                            {
                                <img src="https://princetonhive.com/img/@HttpContext.Session.GetString("Logo")" alt="logo">@HttpContext.Session.GetString("SchoolName")
                            }
                            else
                            {
                                <img src="https://princetonhive.com/img/logoschool3.png" alt="logo">@HttpContext.Session.GetString("SchoolName")
                            }

                        </a>
                    </div>

                </div>
                <div class="d-md-none mobile-nav-bar">
                    <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                        <i class="far fa-arrow-alt-circle-down"></i>
                    </button>
                </div>
                <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">

                    <ul class="navbar-nav">
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar"></li>
                        <li class="navbar-item header-search-bar">
                            <img src="https://princetonhive.com/img/logo.png" alt="logo" style="text-align:left">
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="navbar-item dropdown header-admin">
                            <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false">
                                <div class="admin-title">
                                    <h5 class="item-title">Welcome @HttpContext.Session.GetString("firstname")</h5>

                                </div>
                                <div class="admin-img">
                                    <img src="https://princetonhive.com/img/figure/admin.jpg" alt="Admin">
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="item-header">
                                    <h6 class="item-title">Administration Zone</h6>
                                </div>
                                <div class="item-content">
                                    <ul class="settings-list">

                                        <li><a href="#" data-toggle=modal data-target="#login">My Profile</a></li>
                                        <li><a href="#"><i class="flaticon-gear-loading"></i>Account Settings</a></li>
                                        <li><a href="Logout"><i class="flaticon-turn-off"></i>Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>*@
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <!-- Sidebar Area End Here -->
        <div class="dashboard">
            <input type="hidden" asp-for="session1" />
            <input type="hidden" asp-for="token1" />

            <!-- Breadcubs Area End Here -->
            <!-- Dashboard Content Start Here -->

            <div class="card height-auto">
                <div>
                    <div class="heading-layout1">

                        <iframe src="https://belouga.org/api/login/@token" id="output_iframe_id" name="output_iframe_id" data-val="" height="705px" width="100%"></iframe>
                        @*<iframe src="https://feemanagementsoftware.co.in/login.aspx" id="output_iframe_id" name="output_iframe_id" data-val="" height="705px" width="100%"></iframe>*@


                    </div>
                </div>
            </div>

            <!-- Dashboard Content End Here -->
        </div>
        <!-- Footer Area Start Here -->
        @*<footer class="footer-wrap-layout1">
                <div class="copyright" align="center">Princetonhive 2019. All rights reserved.</div>
            </footer>*@
        <!-- Footer Area End Here -->
    </div>

    <!-- Page Area End Here -->
    @*<div id=login class="modal fade" role=dialog>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" align="center">
                        <p align=center></p>
                            <button width="50px" type=button class=close data-dismiss=modal>&times;</button>
                    </div>
                    <div class=modal-body>
                        <div class=content>
                            <h5 style="margin-top:-40px;" class=modal-title align=center>Profile</h5>
                            <p align=center><img src="images/logo/logo.png" class=img-fluid> </p>
                            <div class=container>
                                <form method=post>
                                    <div style="display:none;">
                                    </div>
                                    <div class=form-group>
                                        <div class="input text">
                                            Name: @HttpContext.Session.GetString("firstname")

                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <div class="input password">
                                            Class:  @HttpContext.Session.GetString("Class")

                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <div class="input text">
                                            Email: @HttpContext.Session.GetString("Email")

                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <div class="input password">
                                            Mobile No:  @HttpContext.Session.GetString("Mobile")

                                        </div>
                                    </div>
                                    <div class=form-group>
                                        <div class="input text">
                                            Role: @HttpContext.Session.GetString("Role")

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- jquery-->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Counterup Js -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Moment Js -->
    <script src="~/js/moment.min.js"></script>
    <!-- Waypoints Js -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- Full Calender Js -->
    <script src="~/js/fullcalendar.min.js"></script>
    <!-- Chart Js -->
    <script src="~/js/Chart.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/main.js"></script>

</body>

</html>
